/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/front/images/movies
/public/front/images/movie-slider
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
